pkgbase = sigi
	pkgdesc = Organization CLI for people who hate organization
	pkgver = 3.6.4
	pkgrel = 1
	url = https://github.com/sigi-cli/sigi
	arch = x86_64
	arch = aarch54
	license = GPL-2.0-only
	makedepends = cargo
	source = sigi-3.6.4.tar.gz::https://crates.io/api/v1/crates/sigi/3.6.4/download
	sha256sums = 3bccc00077f7fc746c19df643ca9f1b3dbb06de4132ee60c96dc26370e97eaf6

pkgname = sigi
